@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #0c0e0d 100%, #002c26 10%);
  /* background: linear-gradient(180deg, #4cb69b 0%, #002c26 100%); */
  /*   background: linear-gradient(180deg, #4cb69b 0%, #08d1b6 100%);*/
  /* background: linear-gradient(180deg, #1f1919 0%, #2b2421 100%); */
  /*   background: linear-gradient(180deg, #3a0a47 0%, #004547 100%); */
  /*linear-gradient(0deg, #7D7196, #7D7196); */
  /* background-color: rgb(255, 255, 255); */
  /* background-color: #131313; */
  /* 181717 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 2rem;
  margin-top: 4rem;
}

.imgAna {
  border-radius: 100%;
  float: left;
  margin: 1rem;
  width: 17rem;
}

.second {
  margin: 2rem;
}

.welcome {
  /* position: relative; */
  font-family: "JejuHallasa";
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* margin: 1rem; */
  /* padding: 1rem; */
  /* animation: anim 4s infinite; */
  color: #000000;
  /* color: #000000; f5f8f8 */
  /* backdrop-filter: blur(10px); */
}

.welcome2 {
  font-size: 4.5rem;

}

.development {
  font-size: 2rem;
}

section {
  margin: 3.3rem;
  padding-top: 1.8rem;
  text-align: center;
  font-family: "JejuHallasa";
}

section #sobre {
  /* background: #06574c; */
  margin: 3rem;
  padding: 0.5rem;
  /*   background: #002c26; */
  /* background: linear-gradient(180deg, #013a2c 0%, #4cb69b 100%); */
  /* background: linear-gradient(180deg, #430155 0%, #505050 100%); */
  /* background: linear-gradient(180deg, #645170 0%, #550a84 100%); */
  text-align: justify;
  text-align: center;
}

.cards{
  border-radius: 1rem;
  padding: 1.3rem;
  margin-bottom: 4rem;
  background-color: #002c26;
}
.card2{
  border-radius: 1rem;
  padding: 1.3rem;
  margin-bottom: 4rem;
  background-color: #06574c;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));
  gap: 1rem;
  padding: 0;
  text-align: center;
}
.education {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2em;
}

.education:hover {
  font-size: 1.1rem;
}

/* 
.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
  gap: 1.2rem;
}

.container2 .spacing2 {
  padding: 0.2rem;
}

.education2 {
  border-radius: 0.3rem;
  background-color: #000f0f;
}

.education2:hover {
  font-size: 1.1rem;
  color: rgb(214, 214, 214);
  background-color: #02393b;
} */

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(221, 221, 221);
}

  
h1 .title {
  color: #fff;
  font-size: 3.5rem;
  margin: 2rem;
  padding: 2rem;
  /* font-family: "JejuHallasa"; */
  /* font-family: "Oswald", sans-serif; */
}

#sobre h1, #projetos h1, #prototipos h1, #tecnologias h1{
  margin: 4rem;
  font-size: 2rem;
  text-align: center;
}

#sobre h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sobre p {
  margin: .8rem;
  padding: .8rem;
  font-size: 1rem;
}

h5 {
  font-size: 1.8rem;
  font-weight: lighter;
  height: 5rem;
  color: #f1f1f1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-family: Verdana, Tahoma, sans-serif;
  color: #f1f1f1;
  padding-top: 1rem;
  font-size: 1.3rem;
}

@media only screen and (max-width: 395px) {
  * {
    margin: 0;
    padding: 0;
  }

  .welcome2 h1{
    text-align: center;
    /* font-size: 2.2rem; */
  }
  /* .typing-animation {
    font-size: 1rem;
    animation: none; 
    display: none; 

  }
  .typing-animation::after {
    content: "Analice Moschen"; novo elemento
  } */
}


@media only screen and (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
  }

  .second {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centralizar verticalmente o conteúdo */
    align-items: center; /* Centralizar horizontalmente o conteúdo */
    height: 100%;
  }

  .contain {
    display: flex;
    flex-direction: column;
  }

  .contain img {
    max-width:100% ;
    height: auto;
  }

  .contain .second {
    margin-top: 0.5rem;
    /* Adiciona uma margem de 10 pixels acima do texto para separá-lo da imagem */
  }

  .welcome2 {
    font-size: 2.8rem;
    margin: 1rem;
    text-align: center;
  }

  .link {
    width: 2.5rem;
    height: 2.5rem;
  }

  .navbar-toggler {
    color: var(--white);
    font-size: 1.7rem;
  }

  nav a span {
    color: #3752d4;
    font-weight: 600;
  }

  .nav-link.active,
  .navbar-nav .show>.nav-link {
    color: #5263f1;
  }

  .navbar-nav .nav-link:focus,
  .navbar-nav .nav-link:hover {
    color: rgb(82 99 241);
  }
}

.figure {
  display: flex;
  flex-direction: row;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 3fr));
  gap: 1rem;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

figure.snip1256 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  /* margin: 1rem; */
  /* min-width: 21rem;
  max-width: 28rem; */
  /* max-height: 25rem; */
  width: 100%;
  color: #ffffff;
  text-align: left;
  /* background-color: #07090c; */
  font-size: 16px;
  -webkit-perspective: 50em;
  perspective: 50em;
}

figure.snip1256 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

figure.snip1256 img {
  opacity: 1;
  width: 23rem;
  /* width: 100%; */
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

figure.snip1256 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% -50%;
  -ms-transform-origin: 50% -50%;
  transform-origin: 50% -50%;
  z-index: 1;
  opacity: 0;
  padding: 1rem 2rem;
  /* padding: 2rem 3rem; */
}

figure.snip1256 h3,
figure.snip1256 p {
  line-height: 1em;
}

figure.snip1256 h3 {
  margin: 0;
  /* font-size: 1rem; */
  font-weight: 800;
  text-transform: uppercase;
}

figure.snip1256 p {
  font-size: .9rem;
  /* font-size: 0.8em; */
  /* font-weight: lighter; */
  /* margin: 0 0 15px; */
}

figure.snip1256 .read-more {
  border: 3px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}

figure.snip1256 .read-more:hover {
  background-color: #ffffff;
  color: #000000;
}

figure.snip1256:hover img,
figure.snip1256.hover img {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}

figure.snip1256:hover figcaption,
figure.snip1256.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure .image:hover{
  transform: translateY(-20px); 

}


.prototype {
  display: flex;
  flex-direction: row;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 3fr));
  gap: 1rem;
}

.prototype img {
  height: 25rem;
}

.prototype .link-prototipo,
.prototipo-grande .link-prototipo {
  border: 2px solid #ffffff;
  border-radius: 5rem;
  padding: .5rem 1rem;
  margin: .3rem;
  font-size: .9rem;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.prototype .link-prototipo:hover,
.prototipo-grande .link-prototipo:hover {
  background-color: #ffffff;
  color: #000000;
}

.prototipo-grande {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 2fr));
  gap: 1rem;
  opacity: 1;
  /* width: 23rem; */
}

.prototipo-grande img {
  height: 13rem;
  /* width: 20rem; */
}

.imgGrande {
  margin: .2rem;
  width: 4rem;
  height: 4rem;
}

.pEducation {
  font-size: 1rem;

}

.teste1212{
  width: 5rem;
  height: 5rem;
}

.teste1212:hover{
color: #857c04;
}

.teste1212::after {
  content: '';
  position: absolute;
  background-image: linear-gradient(to top,rgba(0,0,0,.6),transparent);
  bottom: 0;
  left:0;
  width:100%; 
  height: 100%;
}

.teste1212:hover::after {
  background-image: linear-gradient(to top,rgba(0,0,0,.8),transparent);
}

svg{
  color: #fff;
  width: 5rem;
  height: 5rem;
}

code-rain {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.code {
  width: 1px;
  height: 10px;
  background-color: #0c7264;
  color:#0c7264;
  margin: 0 auto;
  position: absolute;
  opacity: 0.8;
}

.code1 { animation: codeRain 2s linear infinite, codeFade 0.5s ease-in-out infinite alternate; top: 0; left: calc(25% - 1px); }
.code2 { animation: codeRain 3s linear infinite, codeFade 0.5s ease-in-out infinite alternate; top: 0; left: calc(50% - 1px); }
.code3 { animation: codeRain 2.5s linear infinite, codeFade 0.5s ease-in-out infinite alternate; top: 0; left: calc(75% - 1px); }
.code4 { animation: codeRain 2.2s linear infinite, codeFade 0.5s ease-in-out infinite alternate; top: 0; left: calc(90% - 1px); }
.code5 { animation: codeRain 2.8s linear infinite, codeFade 0.5s ease-in-out infinite alternate; top: 0; left: calc(10% - 1px); }
.code6 { animation: codeRain 3s linear infinite, codeFade 0.5s ease-in-out infinite alternate; top: 0; left: calc(60% - 1px); }
.code7 { animation: codeRain 3.5s linear infinite, codeFade 0.5s ease-in-out infinite alternate; top: 0; left: calc(65% - 1px); }
.code8 { animation: codeRain 3.5s linear infinite, codeFade 0.5s ease-in-out infinite alternate; top: 0; left: calc(70% - 1px); }

@keyframes codeRain {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(720deg);
  }
}

@keyframes codeFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

#tech{
  /* background:linear-gradient(135deg, #025A50 40%, #055249 62%, #064D45 70%, #09453E 80%, #024941 100%); */
     /* linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%); */
  /* linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%); */
  /* linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%); */
  background: linear-gradient(135deg, #000000 0%, #131212 20%, #181616 30%, #242424 40%, #222222 50%, #272727 60%, #444444 70%, #666666 85%, #646464 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 5rem;
}

.fab.fa-bootstrap, .fab.fa-java .fab.fa-mdb,
.img-next, .img-tailwind{
  margin: .5rem;
  padding: .5rem;
}

.fab.fa-bootstrap{
  font-size: 5rem;
}

.fab.fa-mdb, .fab.fa-java{
  font-size: 6rem;
}

ion-icon {
  margin: .5rem;
  padding: .5rem;
  text-align: center;
  align-items: center;
  width: 6rem;
  height: 6rem; 
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Ajuste os valores aqui */

}
ion-icon.html5{
  color: #E44D26;
}
ion-icon.css3{
  color: #006FB9;
}
ion-icon.javascript{
  color: #F7DF1E;
}
ion-icon.react{
  color:#5CD9FB;
}
.java-icon {
  background: linear-gradient(180deg, #F8981D 0%, #F8981D 20%, #F8981D 40%, #51809C 60%, #51809C 80%, #007396 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fab.fa-java{
  background: url(#gradient);
  -webkit-text-fill-color: transparent;
}
.fab.fa-bootstrap{
  color: #7105FF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.img-tailwind{
  width: 6rem;
  height: 6rem;
}
.img-next{
  width: 8rem;
  height: 9rem;
}

.mdb-icon{
  background: linear-gradient(45deg, #00A7FF, #9B51E0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.fab.fa-mdb{
  background: url(#gradient);
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#sobre hr, #projetos hr, #prototipos hr, #tecnologias hr{
  width: 4rem;
  height: .2rem;
  margin: .5rem auto;
  border: 0.1rem solid #ffffff;
  border-radius: 1rem;
  color:#778381;
}

#sobre hr::after {
  content: "";
  display: block;
  height: .2rem;
  width: 100%;
  background-color: #affff4;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
}
/* 
#carrousel{
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
#carrousel::-webkit-scrollbar{
display: none;
}

.card{
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 200px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
} */